* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #83a1de;
    background: linear-gradient(90deg, rgba(131, 161, 222, 1) 0%, rgba(52, 124, 207, 1) 49%, rgba(0, 88, 171, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-left: 25vh;
}




/* -----------------------HEADER----------------------- */
body header nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 15px;
    height: 100vh;
    background: #6c98db;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: 0.3s;
    border: 1px solid transparent;
}

body header nav:hover {
    border-right: 1px solid rgb(162, 199, 255);
}

body header nav img {
    width: 21vh;
}

body header nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

body header nav ul li {
    font-size: 2.3vh;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    transition: 0.3s;
}

body header nav ul li:hover {
    transform: translateX(5px);
}

body header nav ul li a {
    color: white;
    text-decoration: none;
}

/* ---------------------------------------------------------- */




/* -----------------------CONTENEDOR DE LOS CLIMAS------------------- */
#contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    width: 80%;
    padding-top: 100px;
    margin: auto;
    gap: 10px;
}

/* <div class="actual"></div>*/

/* ---------------------------------------------------------- */

/* -----------------------CLIMA ACTUAL------------------- */
#climaActual {
    -webkit-box-shadow: 4px 6px 15px 5px #004F9C;
    box-shadow: 4px 6px 15px 5px #004F9C;
    border-radius: 15px;
    color: white;
    padding: 25px;
}

#climaActual .titulo .tp {
    font-size: 3.4vh;
    text-align: center;
}

.infoActual {
    display: flex;
    gap: 15px;
    padding-top: 20px;
}

.iconoT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconoT .wi {
    font-size: 8vh;
    margin-bottom: 10px;
}

.infoActual .iconoT h2 {
    font-size: 5vh;
    font-weight: 100;
}

.infoActual .iconoT h2 span {
    font-size: 2.5vh;
    font-weight: 600;
}

.infoParticular {
    font-size: 2vh;
}

.infoParticular h3 {
    border-bottom: 1px solid rgb(92, 157, 255);
    margin-bottom: 7px;
    font-size: 2vh;
}

.infoParticular span {
    text-decoration: underline;
}

/* ------------------------------------------------------- */




/* -----------------------CLIMA SEMANAL------------------- */
#climaLocalSemanal {
    -webkit-box-shadow: 4px 6px 15px 5px #004F9C;
    box-shadow: 4px 6px 15px 5px #004F9C;
    border-radius: 15px;
}

#climaLocalSemanal .tituloSemanal h2 {
    font-size: 3vh;
    color: white;
    text-align: center;
    margin: 25px 40px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(92, 157, 255);
}

.contenedorPrincipalSemanal {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.contenedorClimaSemanal {
    display: flex;
    color: white;
    padding: 15px;
    border: 1px solid transparent;
    transition: 0.4s;
    border-radius: 5px;
}

.contenedorClimaSemanal:hover {
    border: 1px solid rgb(236, 236, 236);
}

.contenedorClimaSemanal .contenedorClimaIndividual {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.contenedorClimaSemanal .contenedorClimaIndividual p {
    font-size: 1.5vh;
}

.contenedorClimaSemanal .contenedorClimaIndividual h2 {
    font-size: 2vh;
}

.tituloClimaIndiv {
    display: flex;
    align-items: center;
}

.tituloClimaIndiv h2 {
    padding-left: 5px;
}

/* ------------------------------------------------------------------*/

/* -----------------------CLIMA DE HOY DIA------------------- */
#climaLocalHoy {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    -webkit-box-shadow: 4px 6px 15px 5px #004F9C;
    box-shadow: 4px 6px 15px 5px #004F9C;
}

#climaLocalHoy .prov {
    padding: 25px 50px;
}

.prov h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    color: white;
    border-bottom: 1px solid rgb(92, 157, 255);
    padding: 5px;
}

.climas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.climas .tempImg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 100;
    border: 1px solid transparent;
    transition: 0.4s;
}

.climas .tempImg:hover {
    border: 1px solid rgb(236, 236, 236);
}

.climas .tempImg span {
    font-size: 0.7rem;
}

.climas .tempImg div {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 10px;
}

.climas .tempImg div i {
    font-size: 1rem;
    padding-right: 6px;
}

.climas .tempImg .hora {
    border-bottom: 1px solid white;
    margin-bottom: 3px;
    width: 60%;
}

.climas div h2 {
    text-align: center;
}

/* --------------------------------------------------------- */

/* Tablet (pantallas medianas, por ejemplo >= 768px) */
@media (min-width: 768px) {

    #contenedor {
        grid-template-columns: 10fr 2fr;
        grid-template-rows: repeat(3, auto);
    }

    .contenedorClimaSemanal .contenedorClimaIndividual {
        width: 60%;
    }

    #climaLocalSemanal {
        grid-column: 2;
        grid-row: span 3
    }
    .contenedorPrincipalSemanal{
        grid-template-columns: 1fr;
    }

}

/* Desktop (pantallas grandes, >= 1024px) */
@media (min-width: 1024px) {}