$bg-start: #83a1de;
$bg-mid: #347ccf;
$bg-end: #0058ab;
$bg-mid-dark: #003e79;
$bg-end-dark: #00274b;

$text: #fff;
$accent-border: rgb(92, 157, 255);
$shadow: 4px 6px 15px 5px #004F9C;

// ----------------------------------------------------------------------
// Mixins
@mixin card {
    box-shadow: $shadow;
    border-radius: 15px;
    color: $text;
}

@mixin grid-minwidth-fix {
    min-width: 0;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ----------------------------------------------------------------------
// Reset básico
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background: linear-gradient(90deg, $bg-start 0%, $bg-mid 30%, $bg-end 100%);
    font-family: Arial, Helvetica, sans-serif;
}

//DARK MODE
body.active {
    background: linear-gradient(90deg, $bg-end-dark 0%, $bg-mid-dark 49%, $bg-end 100%);

    header {

        .navv {
            background: none;

            ul {}
        }
    }
}

// ----------------------------------------------------------------------
// Header
header {

    .navv {

        a {
            img {
                width: 10rem;
            }
        }

        .navbar-toggler {
            border-color: $text;
            margin-right: 4%;

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
        }

        .navbar-toggler:focus {
            box-shadow: none;
        }

        #navbarContenido {
            position: absolute;
            top: 82%;
            right: 2.5%;
            background-color: #1667BA;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            z-index: 1000;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 200px;

            ul {
                display: flex;

                li {
                    a {
                        color: $text;
                    }

                    padding: 5px 15px;
                    transition: 0.4s;

                    &:last-child {
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }

                    &:last-child:hover {
                        background-color: transparent;
                    }
                }

                li:hover {
                    background-color: #64a8f1;

                    a {
                        color: #1667BA;
                    }
                }
            }
        }

        #container-dark {
            background-color: #c5d8ff;
            position: relative;
            width: 60px;
            height: 30px;
            border-radius: 25px;
            cursor: pointer;

            .toggle {
                @include flex;
                position: absolute;
                top: 0;
                left: 0;
                width: 30px;
                height: 30px;
                transform: scale(0.8);
                background-color: $bg-mid;
                border-radius: 25px;
                color: $text;

                .moon {
                    display: none;

                }
            }
        }

        #container-dark.active .toggle {
            left: 30px;
            background-color: $bg-mid-dark;
            transition: 0.3s;

            .moon {
                display: block;
            }

            .sun {
                display: none;
            }
        }

        // Redes
        .redes {
            display: none;
            list-style: none;
        }
    }



}

// ----------------------------------------------------------------------
// Contenedor principal
#contenedor {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    padding: 130px 16px 16px;
    gap: 15px;
    @include grid-minwidth-fix;

    >* {
        @include grid-minwidth-fix;
    }
}

// Fix de min-width para otros grids
.contenedorPrincipalSemanal>*,
.climas>* {
    @include grid-minwidth-fix;
}

// ----------------------------------------------------------------------
// Clima Actual 
#climaActual {
    @include card;
    padding: 25px;

    .titulo .tp {
        font-size: 1.5rem;
        text-align: center;
    }

    .climaActualContenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .infoActual {
        @include flex;
        gap: 15px;

        .iconoT {
            @include flex;
            flex-direction: column;
            margin-right: 20px;

            .wi {
                font-size: 100px;
            }

            h2 {
                font-size: 54px;
                font-weight: 100;

                span {
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }
        }

        .infoParticular {
            font-size: 1rem;
            font-weight: 100;

            h3 {
                border-bottom: 1px solid $accent-border;
                margin-bottom: 7px;
                font-size: 1.2rem;
            }

            p {
                margin: 2px 0;

                span {
                    text-decoration: underline;
                }
            }


        }
    }

    // Chart
    .climaChartContenedor {
        width: 100%;
        height: 260px;

        #climaChart {
            width: 100% !important;
            height: 100% !important;
            display: block;
        }
    }
}

// ----------------------------------------------------------------------
// Clima Semanal
#climaLocalSemanal {
    @include card;

    .tituloSemanal h2 {
        font-size: 1.5rem;
        color: $text;
        text-align: center;
        padding-top: 20px;
        border-bottom: 1px solid $accent-border;
    }

    .contenedorPrincipalSemanal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .contenedorClimaSemanal {
        display: flex;
        color: $text;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: .4s;
        @include grid-minwidth-fix;

        &:hover {
            border: 1px solid $text;
        }

        .contenedorClimaIndividual {
            display: flex;
            flex-direction: column;
            padding: 5px 10px;
            @include grid-minwidth-fix;

            p {
                font-size: 0.7rem;
                margin-top: 3px;
            }

            h2 {
                font-size: 0.9rem;
            }
        }

        .tituloClimaIndiv {
            @include flex;
            @include grid-minwidth-fix;

            h2 {
                padding-left: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

// ----------------------------------------------------------------------
// Clima de Hoy 
#climaLocalHoy {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: $shadow;

    .prov {
        padding: 25px 20px;

        h1 {
            text-align: center;
            font-size: 2.4rem;
            color: $text;
            border-bottom: 1px solid $accent-border;
            padding: 5px;
        }
    }

    .climas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-top: 10px;

        .tempImg {
            font-size: 1rem;
            padding: 10px;
            border-radius: 5px;
            color: $text;
            font-weight: 100;
            border: 1px solid transparent;
            transition: .4s;

            &:hover {
                border: 1px solid $text;
            }

            .tituloItem {
                display: flex;
                justify-content: start;
                align-items: center;
                padding-bottom: 10px;

                h2 {
                    text-align: center;
                    font-size: 1.3rem;
                }

                i {
                    font-size: 1.4rem;
                    padding-right: 6px;
                }
            }

            h3 {
                font-size: 1.2rem;
            }

            .hora {
                border-bottom: 1px solid $text;
                margin-bottom: 3px;
                width: 60%;
            }

            p {
                display: flex;
                justify-content: space-between;
                font-size: 0.7rem;
                padding: 0;
                margin: 0;
                line-height: 1.1;

            }

        }
    }
}

#buscador {

    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    gap: 15px;
    padding: 50px 16px 16px;
    @include grid-minwidth-fix;

    >* {
        @include grid-minwidth-fix;
    }


    .contenedor-buscador {
        @include card;
        height: 400px;
        width: 100%;
        @include grid-minwidth-fix;

        .elemento-busca {
            @include flex;
            margin-top: 30px;

            .input-wrapper {
                display: flex;
                align-items: center;

                .inputB {
                    position: relative;
                    max-width: 190px;
                    background-color: #f5f5f5;
                    color: #242424;
                    padding: .15rem .5rem;
                    min-height: 40px;
                    border-radius: 4px;
                    outline: none;
                    border: none;
                    line-height: 1.15;
                    box-shadow: 0px 10px 20px -18px;

                    &:focus {
                        border-bottom: 2px solid $bg-start;
                        border-radius: 4px 4px 2px 2px;
                    }

                    &:hover {
                        outline: 1px solid lightgrey;
                    }
                }



                .listaDesplegable {
                    position: absolute;
                    top: 145.5rem;
                    background-color: $bg-start;
                    width: 190px;
                    display: flex;
                    justify-content: start;
                    flex-direction: column;

                    li {
                        transform: translateX(-15px);
                        list-style: none;
                        font-size: 0.7rem;
                        width: 100%;

                        a{
                            color: white;
                            text-decoration: none;
                        }

                        &:hover {
                            background-color: #98b6f1;
                        }
                    }
                }
            }

            #boton-busca {
                padding: 7px 14px;
                border: 0;
                border-radius: 5px;
                margin-left: 5px;
            }

        }

        .respuesta-busqueda {}

    }

    .elemento-dos {
        @include card;
        @include grid-minwidth-fix;
        @include flex;
    }

}

// ----------------------------------------------------------------------
// Breakpoints

@media screen and (orientation: landscape) {
    header {
        .navv {
            #navbarContenido {
                /* top: 89% !important; */
            }
        }
    }

    /* .contenedor-buscador {
        .elemento-buca {
            .input-wrapper {
                .listaDesplegable {
                    top: 111rem !important;
                }
            }
        }
    } */
}

@media screen and (min-width: 390px) {
    #climaLocalSemanal {
        .contenedorPrincipalSemanal {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    #contenedor {
        padding: 70px 16px 16px;
    }

    header {
        .navv {
            #navbarContenido {
                top: 74%;
            }
        }
    }
}

// Tablet muy pequeñas
@media screen and (min-width: 560px) {
    #climaLocalHoy {
        .climas {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }



    #climaLocalSemanal {
        .contenedorPrincipalSemanal {
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
        }

        .contenedorClimaSemanal .contenedorClimaIndividual {
            align-items: center;

            p {
                margin: 0px;
            }
        }
    }
}

@media screen and (min-width: 700px) {



    #climaActual {
        .infoActual {

            .iconoT {
                flex-direction: column;

                .wi {
                    font-size: 100px;
                }

                h2 {
                    font-size: 66px;
                    margin-left: 20px;

                    span {
                        font-size: 2.5rem;
                    }
                }
            }

            .infoParticular {
                font-size: 1.3rem;
                line-height: 1.3;

                h3 {
                    font-size: 2rem;
                }

                margin: 10px 0px 40px;
            }
        }
    }

    #climaLocalSemanal {
        grid-column: 2;
        grid-row: span 2;

        .contenedorPrincipalSemanal {
            grid-template-columns: 1fr;

            .contenedorClimaIndividual {
                align-items: start;

                .tituloClimaIndiv {
                    h2 {
                        font-size: 1.2rem;
                    }
                }

                p {
                    font-size: 0.8rem;
                    margin-top: 3px;
                }
            }
        }
    }

    #climaLocalHoy {
        .climas {
            .tempImg {
                p {
                    font-size: 1rem;
                }

                .tituloItem {
                    h2 {
                        font-size: 1.5rem;
                    }

                    i {
                        font-size: 1.5rem;
                        padding-right: 6px;
                    }
                }
            }
        }

    }
}

// Tablet grandes
@media (min-width: 930px) {

    main {
        padding-left: 25vh;
    }

    #climaActual {
        .infoActual {

            .iconoT {
                flex-direction: column;

                .wi {
                    font-size: 15vh;
                }

                h2 {
                    font-size: 4rem;
                    font-weight: 400;
                    margin-top: 8px;

                    span {
                        font-size: 2.5vh;
                    }
                }
            }

            .infoParticular {
                font-size: 2vh;

                h3 {
                    font-size: 2.2vh;
                }

            }
        }
    }

    #climaLocalHoy {
        .climas {
            .tempImg {
                .tituloItem {

                    h2 {
                        font-size: 1.3rem;
                    }

                    i {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    header {
        .navv {
            width: 25vh;
            position: fixed;
            height: 100vh;
            border: transparent;
            transition: 0.6s;

            .cont {
                display: flex;
                align-items: center;
                height: 100vh;
                justify-content: space-between;

                .boton {
                    display: none;
                }

                #navbarContenido {
                    display: block;
                    background-color: transparent;
                    position: relative;
                    width: max-content;
                    box-shadow: none;
                    top: auto;
                    right: auto;

                    ul {
                        flex-direction: column;

                        li {
                            background-color: none;

                            &:hover {
                                background-color: transparent;
                            }

                            a {
                                transition: 0.3s;
                                color: $text;

                                &:hover {
                                    transform: translateX(3px);
                                }

                            }
                        }
                    }

                }

                .redes {
                    @include flex;
                    gap: 12px;
                    padding: 8px 0;
                    margin: 0;
                    list-style: none;
                    width: 100%;
                }

                .redes li {
                    margin: 0;
                    transition: .3s;
                }

                .redes li:hover {
                    transform: scale(1.1);
                }

                .redes img {
                    width: 24px;
                    display: block;
                }

            }
        }
    }
}



// Desktop
@media (min-width: 1024px) {

    #climaLocalSemanal {

        .contenedorPrincipalSemanal {

            .contenedorClimaIndividual {

                .tituloClimaIndiv {
                    h2 {
                        font-size: 1.1rem;
                        margin: 0;
                    }
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }
    }

    #climaLocalHoy {
        .climas {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .tempImg {
                .tituloItem {
                    h2 {
                        font-size: 1.3rem;
                    }
                }

                h3 {
                    font-size: 1.1rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }
    }

    #contenedor {
        grid-template-columns: 10fr 3fr;
        width: 90%;
    }

    #climaActual {
        .titulo .tp {
            margin-bottom: 25px;
        }

        .climaActualContenedor {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}

// Desktop grande
@media (min-width: 1200px) {
    #contenedor {
        grid-template-columns: 9fr 2fr;
        width: 80%;
    }

    #climaLocalHoy {
        .climas {
            @include flex;
            flex-wrap: wrap;
        }
    }
}